/* Simple selectors here */
body {
  background-color: powderblue;
  background-image: 'images\w3schools_green.jpg';
  --main-bg-color: rgb(116, 156, 240); 
}
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
p {
  color: red;
  font-family: courier;
  font-size: 100%;
}
#p01 {
  color: red;
  font-family: courier;
  font-size: 100%;
  border: 2px solid black;
  padding: 1px;

}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
#t01 tr:nth-child(even) {
    background-color: rgb(133, 130, 130);
  }
#t01 tr:nth-child(odd) {
  background-color: rgb(242, 246, 248);
}
#t01 th {
  background-color: rgb(119, 151, 240);
  color: black;
  }
#d01 {
  background-color: rgb(242, 243, 239);
  color: black;
  padding: 2px;
  }
  #colorStyle {
    width: 80%;
  }
.myNote {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
} 
.simple{
  color:green;
} 
#combinator {
  color:brown;
}

#summary {
  width: 800px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  overflow: visible;
}
#try {
  color:green;
}
/*Pseudo-element, Pseudo-class selectors */
::-moz-selection { /* Code for Firefox */
  color: red;
  background: yellow;
}

::selection {
  color: red;
  background: yellow;
}
/*Attribute selector */
a[target] {
  background-color: yellow;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
textarea {
  width: 60%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
/*Use counter */
body {
  counter-reset: topicCounter;
}
h2::before {
  counter-increment: topicCounter;
  content: "Topic " counter(topicCounter) ": ";
}
#counterArea {
  counter-reset: topicCounter;
}
#categoryArea {
  counter-reset: topicCounter;
}
#advanceArea {
  counter-reset: topicCounter;
}
h3::before {
  counter-increment: topicCounter;
  content: "Category " counter(topicCounter) ": ";
}
h4::before {
  counter-increment: topicCounter;
  content: "Advance " counter(topicCounter) ": ";
}
/*webpage layout*/
.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* Variables for property*/
:root {
  --main-bg-color: rgb(240, 169, 143);  
}

#div1 {
  background-color: var(--main-bg-color);
  padding: 5px;  
}

#div2 {
  background-color: var(--main-bg-color);
  padding: 5px;
}

#div3 {
  background-color: var(--main-bg-color);
  padding: 5px;
}
/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
    color: white;
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
    color: white;
  }
}
/* Grid layout */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-container2 {
  display: grid;
  height: 400px;
  align-content: end;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.grid-container2 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.grid-container3 {
  display: grid;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item2 {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.item2 {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.item5 {
  grid-column: 1 / span 3;
  grid-row: 3;
}
#highlight {
  background-color: greenyellow;
  color:#008000;
  font-weight: bold;
}
#inputValue, #inputString {
  width: 15%;
}
#container {
  width: 400px;
  height: 400px;
  position: relative;
  background: yellow;
}
#animate {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: red;
}