<div id="loginForm">
    <div class="input">
        <input type="text" placeholder="Username">
    </div>
    <div class="input">
        <input type="password" placeholder="Password">
    </div>
    <div class="input">
        <button ng-click="login()">Login</button>
    </div>

</div>